* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #35524A;
}

.container {
    display: grid;
    grid-template-rows: 25fr 75fr;
    height: 450px;
    width: 85%;
    gap: 15px;
    background-color: #627C85;
    padding: 20px 30px;
    border-radius: 15px;
}

ul {
    list-style-type: none;
    overflow-y: scroll;

    & li {
        font-size: 25px;
        padding: 12px 15px;
        border: 1px solid;
        border-radius: 10px;
        margin: 10px 0;
        color: #2b2b2b;
        background-color: #f4f1ea;
        border: none;
        transition: 300ms all ease;
        transform: scale(0);
        display: grid;
        grid-template-columns: 70fr auto auto;
        justify-content: space-between;
        align-items: center;
    }
}

ul li label {
    padding: 0 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content:space-between;
    user-select: none;
}

.showListElement {
    transform: scale(1);
}

input {
    font-size: 20px;
    border-radius: 5px;
    padding: 2px 10px;
    border: none;

    &:focus {
        outline: none;
    }
}

.inputBox {
    display: grid;
    grid-template-columns: 80fr 20fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

button {
    background-color: #35B2FB;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: cursive;
    cursor: pointer;

    &:hover {
        background-color: #2EA8F5;
    }
}

h1 {
    font-size: 50px;
    color: #DCCCBB;
}

::-webkit-scrollbar {
    width: 0px;
}

h1,
li {
    cursor: default;
}

.checkedLi {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: black;
    color: gray;
}

input[type='checkbox'] {
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
}


#editButton{
    padding: 10px 15px;
    margin: 0 15px;
}